In [26]:
import pandas as pd
import numpy as np

In [24]:
train_data_0=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_0.csv")
train_data_1=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_1.csv")
train_data_2=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_2.csv")
train_data_3=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_3.csv")
train_data_4=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_4.csv")
train_data_5=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_5.csv")
train_data_6=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_6.csv")
train_data_7=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_7.csv")
train_data_8=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_8.csv")
train_data_9=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_9.csv")
train_data_10=pd.read_csv("C:/Users/notei/OneDrive/Рабочий стол/uni/Year 3/Datathon/bdss-datathon/data/raw/train_data_10.csv")

In [38]:
combined_train_data = pd.concat([train_data_1, train_data_2, train_data_3, train_data_4, train_data_5, train_data_6, train_data_7, train_data_8, train_data_9, train_data_10], ignore_index=True)

In [39]:
combined_train_data

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_21,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag
0,250000,1,8,7,7,2,4,9,5,2,...,3,3,3,4,1,3,4,1,0,0
1,250000,2,14,8,12,10,6,3,12,6,...,3,3,3,4,1,3,4,1,0,0
2,250000,3,10,4,8,11,6,13,5,2,...,3,3,3,4,1,3,4,1,0,0
3,250000,4,13,12,8,6,13,5,12,2,...,3,3,3,4,1,3,4,1,0,0
4,250000,5,6,12,4,14,1,7,4,2,...,3,3,3,4,1,3,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21737358,2749999,14,3,5,1,10,12,15,16,2,...,3,3,3,4,1,3,4,1,0,0
21737359,2749999,15,11,9,4,8,1,11,8,3,...,3,3,3,4,1,2,3,1,1,1
21737360,2749999,16,11,3,2,8,1,11,4,2,...,3,3,3,4,1,3,3,1,0,1
21737361,2749999,17,2,3,2,8,12,11,1,2,...,3,3,3,4,1,3,3,1,0,1
21737362,2749999,18,19,5,14,8,10,11,14,3,...,3,3,3,4,1,2,4,1,0,1

In [40]:


# Assuming combined_train_data is a pandas DataFrame with the ID column

# Count occurrences of each unique ID
id_counts = combined_train_data['id'].value_counts()

# Display the count of occurrences for each ID
print(id_counts)

id
1782755    55
1658519    54
508303     51
755726     50
318999     50
           ..
1351668     1
2207624     1
2207623     1
2207620     1
506320      1
Name: count, Length: 2500000, dtype: int64