In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
data_1 = pd.read_csv("/Users/govindniravrao/Documents/Coding/bdss-datathon/data/raw/train_data_1.csv")

In [40]:
data_1.isnull().sum()

id                         0
rn                         0
pre_since_opened           0
pre_since_confirmed        0
pre_pterm                  0
                          ..
enc_loans_credit_status    0
enc_loans_credit_type      0
enc_loans_account_cur      0
pclose_flag                0
fclose_flag                0
Length: 61, dtype: int64

In [56]:
data_1.shape   # Get the number of rows and columns

(2107305, 61)

In [50]:
data_1.describe()  # Summary statistics for numerical columns

,id,rn,pre_since_opened,pre_since_confirmed,pre_pterm,pre_fterm,pre_till_pclose,pre_till_fclose,pre_loans_credit_limit,pre_loans_next_pay_summ,...,enc_paym_21,enc_paym_22,enc_paym_23,enc_paym_24,enc_loans_account_holder_type,enc_loans_credit_status,enc_loans_credit_type,enc_loans_account_cur,pclose_flag,fclose_flag
count,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,...,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06,2.107305e+06
mean,3.762968e+05,6.822987e+00,9.268931e+00,8.445056e+00,8.305584e+00,8.287243e+00,7.076073e+00,8.383995e+00,9.724132e+00,2.397686e+00,...,2.313490e+00,2.343997e+00,2.377969e+00,3.556250e+00,1.028024e+00,2.691367e+00,3.332053e+00,1.002139e+00,1.615936e-01,2.361386e-01
std,7.201199e+04,5.277250e+00,5.720648e+00,4.777601e+00,5.287126e+00,4.429782e+00,5.180629e+00,4.218008e+00,5.802962e+00,1.368502e+00,...,1.247281e+00,1.227431e+00,1.204261e+00,1.055545e+00,2.767238e-01,4.883090e-01,1.078082e+00,5.452673e-02,3.680777e-01,4.247084e-01
min,2.500000e+05,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.140990e+05,3.000000e+00,5.000000e+00,5.000000e+00,4.000000e+00,6.000000e+00,2.000000e+00,5.000000e+00,5.000000e+00,2.000000e+00,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
50%,3.769930e+05,5.000000e+00,9.000000e+00,9.000000e+00,8.000000e+00,8.000000e+00,7.000000e+00,1.000000e+01,1.000000e+01,2.000000e+00,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
75%,4.387250e+05,1.000000e+01,1.400000e+01,1.200000e+01,1.300000e+01,1.100000e+01,1.200000e+01,1.100000e+01,1.500000e+01,2.000000e+00,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,3.000000e+00,4.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
max,4.999990e+05,5.000000e+01,1.900000e+01,1.700000e+01,1.700000e+01,1.600000e+01,1.600000e+01,1.500000e+01,1.900000e+01,6.000000e+00,...,3.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,6.000000e+00,6.000000e+00,5.000000e+00,3.000000e+00,1.000000e+00,1.000000e+00